{% extends 'e/layout.html'%}
{% block title%}Интернет-магазин: {{items.title}}{% endblock %}
{% block body%}
{% load static %}
<div class = 'detail_view'>
<div class = 'alert alert-info'>
    <img src = '{{items.image.url}}' alt="1213" class = 'item_image' style="width: 50%;">
    <h2 class="title">{{items.short_description}}</h2>
    <p class = 'description'>{{items.description}}</p>
    <p class = 'price'>{{items.price}}</p>
</div>
</div>

<div class = 'comments'>
    <h3>{{</h3>
</div>

{% endblock %}